/* Reset some default styles for consistency */
body, h1, h2, p, ul, li, button, a {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(183, 216, 183) no-repeat center center fixed;
    background-size: cover;
    font-size: 1.2rem;
    text-align: center;
    color: #333;
}

header {
    background-color: rgba(129, 178, 129, 0.9);
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration:currentColor;
    color: #fff;
    font-weight: bold;
}

section.section {
    background-color: rgba(182, 161, 161, 0.9);
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    font-family: 'cursive', sans-serif;
}

button {
    background-color: rgb(188, 9, 9);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}

footer {
    background-color: rgba(23, 163, 23, 0.9);
    color: #fff;
    padding: 10px 0;
}

#button_container {
    display: flex;
    margin: 0px;
    justify-content: center;
}

#left{
    text-align: center;
}
@media screen and (max-aspect-ratio: 9/16) {
    body {
        
        background-size: 10000%;
        background-repeat: no-repeat;
   }
}
@media screen and (min-aspect-ratio: 16/9) {
body {
    
    background-size: 1000%;
    background-repeat: no-repeat;
   }
}
@media screen and (min-aspect-ratio: 1/1) {
body {

background-size: 350%;
background-repeat: no-repeat;
   }
}
@media screen and (min-aspect-ratio: 4/3) {
body {

background-size: 300%;
background-repeat: no-repeat;
   }
}
